---
import MainLayout from "./layouts/MainLayout.astro";
---

<MainLayout title="About">
	<div id="aboutContent">
		<div class="boxInfo" id="boxInfo1">
			<div id="heroInfo">
				<p id="info1">Rauw does not just sing for entertainment,</p>
				<h1 id="info2">Sings because his story demands it.</h1>
				<p id="info3">What began as an artistic dream became a cultural responsibility.</p>
			</div>
			<div id="heroImg">
				<img src="../../public/hero-img-nbg.png	" alt="Rauw Alejandro">
			</div>
		</div>
		<div class="boxInfo" id="boxInfo2">
			<div id="infoImgs">
				<div id="img1">
					<img src="../../public/tour1.webp" alt="Tour 1">
				</div>
				<div id="img2">
					<img src="../../public/tour2.webp" alt="Tour 2">
				</div>				
			</div>
			<div id="moreInfo">
				<h2>"Striving to be as thorough as possible is a goal.""</h2>
				<p>Each musical project is a canvas on which to paint the landscapes of his artistic visions; each song is the script that gives voice to his creativity. It all began under the Antillean sky, where the streets and seas of the Caribbean were their first stages.</p>
				<p>Raul has never stopped evolving and growing, always keeping his culture and heritage present. He constantly seeks musical and visual proposals that are faithful to his origins.</p>
				<p>A perfectionist, visionary and disciplined, he continues to elevate his artistic proposals and educate himself on socio-cultural issues, demonstrating commitment and responsibility towards his fans before presenting any musical work.</p>
			</div>
		</div>
	</div>
</MainLayout>