---
import MainLayout from "./layouts/MainLayout.astro";
---

<MainLayout title="Home">
	<div id="hero">
		<div id="imagehero">
			<img src="https://rauwalejandro.com/tour/cosanuestralogo.webp" alt="carita linda" id="album">		
		</div>
		<div id="videoHero">
			<iframe
				src="https://www.youtube.com/embed/3Mu5JDfhivI?autoplay=1&mute=1&controls=0&modestbranding=1&rel=0&loop=1">
			</iframe>
		</div>
	</div>
</MainLayout>