---
import MainLayout from "./layouts/MainLayout.astro";
import PostCard from "./components/PostCard.astro";
import { getCollection } from 'astro:content';

const posts = await getCollection('posts');

const allPost = await Astro.glob("./blog/*.md");

---

<MainLayout title="News">
	<div id="newContent">
		<div id="headerNews">
			<h1>News</h1>
			<p>Find out the latest news about our beloved Raul Alejandro.</p>
		</div>
		{allPost?.length
      ? allPost.map(post => <PostCard post={post} />)
      : <p>No posts available</p>}
	</div>
	
</MainLayout>