---
import MainLayout from "./layouts/MainLayout.astro";


---

<MainLayout title="Tour">
	<div id="tourContent">
		<div id="headerTour">
			<h1>World Tour</h1>
		</div>
		<div id="datesTour">
			<ul>
				<li>
					<div class="dateTour">
						<div class="place">
							<p class="main">LONDON, UK</p>
							<p class="sub">O2 Arena</p>
						</div>
						<p class="date">Tuesday, June 17 2025</p>
						<a class="button" href="#">Buy Tickes</a>
					</div>
				</li>
				<li>
					<div class="dateTour">
						<div class="place">
							<p class="main">AMSTERDAM, Netherlands</p>
							<p class="sub">Ziggo Dome</p>
						</div>
						<p class="date">Friday, June 20 2025</p>
						<a class="button" href="#">Buy Tickes</a>
					</div>
				</li>
				<li>
					<div class="dateTour">
						<div class="place">
							<p class="main">BERLIN , Germany</p>
							<p class="sub">Max Schmeling Halle</p>
						</div>
						<p class="date">Sunday, June 22 2025</p>
						<a class="button" href="#">Buy Tickes</a>
					</div>
				</li>
				<li>
					<div class="dateTour">
						<div class="place">
							<p class="main">BRUSSELS, Belgium</p>
							<p class="sub">Vorst Nationaal Forest National</p>
						</div>
						<p class="date">Friday, June 27 2025</p>
						<a class="button" href="#">Buy Tickes</a>
					</div>
				</li>
				<li>
					<div class="dateTour">
						<div class="place">
							<p class="main">PARIS, France</p>
							<p class="sub">Accor Arena</p>
						</div>
						<p class="date">Wednesday, July 02 2025</p>
						<a class="button" href="#">Buy Tickes</a>
					</div>
				</li>
				<li>
					<div class="dateTour">
						<div class="place">
							<p class="main">Barcelona, Spain</p>
							<p class="sub">Palau Sant Jordi</p>
						</div>
						<p class="date">Friday, July 11 2025</p>
						<a class="button" href="#">Buy Tickes</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	
</MainLayout>